/* Add screen styles below */

h1 {
    text-align: center;
    color: rgba(0, 0, 0, 0.647);
    font-size: 40px;
}

table {
    width: 100%;
    border-collapse: collapse;
    border: "1" white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.647);
    color: aliceblue;
}

tr {
    height: 75px;
}

td {
    border: 4px solid white;
}

td:nth-of-type(1) {
    background-color: rgba(0, 0, 0, 0.24);
}